:root {
    --web1-pink: #FA97C2;
    --web1-blue: #2FA0D5;
    --web1-green: #73C926;
}

body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Changa One', cursive;
    font-weight: 400;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
}

/* Header */
#menu-header a {
    display: block;
    padding: 0 1.25rem;
    font-weight: bold;
    color: black;
    font-family: 'Changa One', cursive;
}

#menu-header li.active a {
    color: var(--web1-blue);
}

#formSearch input {
    width: 8rem;
}

#formSearch i {
    color: var(--web1-green);
}